.navbar-brand{
    width: 250px;
}

.logo{
    padding: 0 10px 0 10px;
    height: auto;
    width: 120px;
}

#text{
    font-size: 40px;
}

.row{
    display: inline-block;
    flex-flow: row;
}

section#left{
    width: 50%;
        float: left;
}

aside#right {
    width: 50%;
    float: right;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 655px;
    width: auto;
}

.flex-container{
}

.container{
    margin-top: 30px;
}

.title{
    color: chartreuse;
    background-color: black;
    margin-bottom: 0px;
    padding: 10px;
    font-size: 40px;
    text-align: center;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-item{
    background-color: rgba(0, 0, 0, 0.8);
}

.item{
    width: 100px;
    height: auto;
}